.App {
    text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
#root {
    background-color: #0d121e;
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
    font-size: calc(42px + (60 - 50) * (100vw - 768px) / (1440 - 768));
} 
.App-header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    top: 0;
    position: relative;
}

.section {
    background-color: #0d121e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    top: 0;
    position: relative;
}

.project-col {
    min-width: 400;
    margin: 5px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.App-link {
    color: #61dafb;
}
.particles {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: #080911;
}

.row-flex {
    display: flex;
    flex-direction: row;
}
.super-center {
    justify-content: center;
    align-items: center;
}
.row-left-center {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.company-logo {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.icon-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.icon:hover {
    background-color: #be5e36;
}
.icon {
    background-color: white;
    padding: 5px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
.button:hover {
    background-color: #be5e36;
}
.button {
    background-color: white;
    padding: 20px;
    display: flex;
    min-width: 80px;
    height: 60px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: black;
}
.loader {
    position: absolute;
    top: calc(50% - 133px);
    left: calc(50% - 133px);
    width: 200px;
    height: 200px;
}

.loader--hide {
    opacity: 0;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ldio-w0tk3ubxb9o-r {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
    }
    50% {
        animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
    }
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ldio-w0tk3ubxb9o-s {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
    }
    50% {
        animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
    }
    0% {
        transform: translate(-30px, -30px) scale(0);
    }
    50% {
        transform: translate(-30px, -30px) scale(1);
    }
    100% {
        transform: translate(-30px, -30px) scale(0);
    }
}
.ldio-w0tk3ubxb9o > div {
    transform: translate(0px, -15px);
}
.ldio-w0tk3ubxb9o > div > div {
    animation: ldio-w0tk3ubxb9o-r 1.923076923076923s linear infinite;
    transform-origin: 100px 100px;
}
.ldio-w0tk3ubxb9o > div > div > div {
    position: absolute;
    transform: translate(100px, 82px);
}
.ldio-w0tk3ubxb9o > div > div > div > div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f4a813;
    animation: ldio-w0tk3ubxb9o-s 1.923076923076923s linear infinite;
}
.ldio-w0tk3ubxb9o > div > div:last-child {
    animation-delay: -0.9615384615384615s;
}
.ldio-w0tk3ubxb9o > div > div:last-child > div > div {
    animation-delay: -0.9615384615384615s;
    background: #718ad0;
}
.loadingio-spinner-interwind-2jk9h1tr6gx {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-w0tk3ubxb9o {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-w0tk3ubxb9o div {
    box-sizing: content-box;
}
/* generated by https://loading.io/ */

.test {
    background-image: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.test2 {
    background-color: transparent;
    height: 30px;
}
.test2:hover {
    transition: all 0.3s;
    height: 30px;
}
.title {
    margin: 0;
    color: white;
}
.title-hovered {
    margin: 0;
    color: #44ab78;
    transition: all 0.3s;
}

.button-img {
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 60px;
}
.button-img-hovered {
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 60px;
    background-color: #28344f;
    transition: all 0.3s;
}
.button-link {
    text-decoration: none !important;
}
